@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        --primary-yellow: #ffc107;
        --secondary-yellow: #D09E0A;
        --primary-gray: #2F2F2F;
        --secondary-gray: #3C3C3D;
        --tertiary-gray: #7B7F8D ; 
        --black: #121212;
        --primary-white: #e0e0e7;
        --secondary-white : #DEDEDE;

        --button-bg: var(--primary-yellow);
        --button-bg-secondary: var(--primary-white);
        --button-bg-hover: var(--secondary-yellow);
        --button-bg-secondary-hover : var(--secondary-white) ;
        --button-text: var(--black)
    }

    html, body, #root {
        height: 100%;
        margin: 0;
      }
}
